{% extends "base.html" %}
{% load bootstrap %}

{% block main %}

{% if form.errors %}
<p>Seu usuario e senha estão errado , Favor tente novamente!</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Sua conta não tem acesso para essa página. Para continuar entre com sua conta.</p>
    {% else %}
    <p>Favor logar para acessar essa página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" class="btn btn-primary" value="login">
    <input type="hidden" name="next" value="{{ next }}">
</form>


{% endblock %}