{% extends 'base.html' %}

{% load bootstrap %}

{% block main %}
<body>
    <div class="row">
        <div class="col">
            <h2>Lista de veiculos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form action="{% url 'core_criar_veiculos' %}" method="post">

                {% csrf_token %}

                {{ form| bootstrap }}

                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
        <div class="col-sm-6">
            <ul>
                {% for veiculo in veiculos %}

                    <li><a href="{% url 'core_update_veiculo' veiculo.id %}">{{ veiculo.placa }}</a></li>

                {% endfor %}
            </ul>
        </div>
    </div>

{%  endblock %}