<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de movrotativo</title>
</head>
<body>
    <ul>
        {% for mov_rot in movrotativo %}

            <li>
                <a href="{% url 'core_update_movrotativo' mov_rot.id %}">{{ mov_rot.veiculo }}</a>
            </li>

        {% endfor %}
    </ul>

    <form action="{% url 'core_criar_movrotativo' %}" method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>