{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
<body>
    <div class="row">
        <div class="col">
            <h2>Lista de Movimentos mensalista</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form action="{% url 'core_criar_movmensalista' %}" method="post">

                {% csrf_token %}

                {{ form|bootstrap }}

                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
        <div class="col-sm-6">
            <table id="example" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mensalista</th>
                        <th>Data Pagamento</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                     {% for mov in movmensalistas %}
                        <tr>
                            <td>{{ mov.id }}</td>
                            <td>{{ mov.mensalista }}</td>
                            <td>{{ mov.data_pgto }}</td>
                            <td>{{ mov.total }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{%  endblock %}