{% extends 'base.html' %}

{% load bootstrap %}

{% block main %}

    <div class="row">
        <div class="col">
            <h2>Lista de movimentos rotativos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form action="{% url 'core_criar_movrotativo' %}" method="post">

                {% csrf_token %}

                {{ form| bootstrap }}

                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </form>
        </div>
        <div class="col-sm-6">
            <table id="example" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Checkin</th>
                        <th>Checkout Pagamento</th>
                        <th>Valor hora</th>
                        <th>Veiculo</th>
                        <th>Pago</th>
                    </tr>
                </thead>
                <tbody>
                     {% for mov_rot in movrotativo %}
                        <tr>
                            <td>{{ mov_rot.id }}</td>
                            <td>{{ mov_rot.checkin }}</td>
                            <td>{{ mov_rot.checkout }}</td>
                            <td>{{ mov_rot.valor_hora }}</td>
                            <td>{{ mov_rot.veiculo }}</td>
                                <td>{% if mov_rot.pago  %}
                                        Sim
                                    {% else %}
                                        Não
                                    {% endif %}

                                </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{%  endblock %}