{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <div class="row">
        <div class="col">
           <h2>Lista de pessoas</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form action="{% url 'core_criar_veiculos' %}" method="post">

                {% csrf_token %}

                {{ form| bootstrap}}

                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <table id="example" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Marca</th>
                            <th>Placa</th>
                            <th>Cor</th>
                            <th>Proprietario</th>
                            <th>Observacao</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for veiculo in veiculos %}
                            <tr>
                                <td>{{ veiculo.id }}</td>
                                <td>{{ veiculo.marca }}</td>
                                <td>{{ veiculo.placa }}</td>
                                <td>{{ veiculo.cor }}</td>
                                <td>{{ veiculo.proprietario }}</td>
                                <td>{{ veiculo.observacao }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
         </div>
    </div>
{%  endblock %}
