{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <div class="row">
        <div class="col">
           <h1>Atualizar movimentação de mensalisata</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="{% url 'core_update_movmensalista' movmensalista.id %}" method="post">

                {% csrf_token %}

                {{ form| bootstrap }}

                <button type="submit" class="btn btn-primary">Salvar</button>
                <a role="button" class="btn btn-danger" href="{% url 'core_delete_movmensalista' movmensalista.id %}" >Excluir</a>
            </form>
        </div>
    </div>
{% endblock %}